venv/
*.pkl
*.csv
*.txt
!whitelist.txt
*.zip
!tests/fixtures/**/*.csv
.info
.meta
.queue
*.profile
.DS_Store
__pycache__
.pytest_cache/
.histdatacom/
build/
dist/
.temporal-cli/
*.egg-info
src/histdatacom/sidecar/assets/bin/
influxdb.yaml
prospector_results.json
output.pstats
result.json
out.gv
htmlcov/
coverage.xml
pip-audit.json
.coverage
.coverage.*

!data/
data/*
!data/.repo
